@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

.game-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid 0.5rem;
  /* border-color: #292f36; */
  height: 15rem;
  background-color: #292f36;
  font-family: "Roboto";
  margin: 0.5rem;
}
.wrapper {
  margin: 0 auto;
  padding-top: 1rem;
}
.button-category {
  background-color: black;
  border-radius: 0.2rem;
  font-size: 1rem;
  color: #fcfff7;
  padding: 0.3rem;
  margin: 0.2rem;
  width: 22%;
  text-transform: capitalize;
}

.game-button {
  border-radius: 0.2rem;
  padding: 0.3rem;
  margin: 0.2rem;
  color: #fcfff7;
  width: 22%;
}

.game-button:hover {
  transform: scale(1.2);
  background-color: darkblue;
}
.answer-button {
  margin: 0.3rem;
}
.card-body {
  text-align: center;
  border: solid 2px;
  border-color: #292f36;
  background-color: #fcfff7;
}

.title-category {
  color: #fcfff7;
  background-color: #292f36;
  height: 100px;
}

div.card-group {
  margin: 10px;
}

.game-over {
  text-transform: capitalize;
  font-family: "Roboto";
}
