.game-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid 0.5rem;
  border-color: black;
  height: 15rem;
  background-color: black;
}
.wrapper {
  margin: 0 auto;
  padding-top: 80px;
}

.game-button {
  font-size: 3rem;
  background-color: darkblue;
  padding: 15px;
  color: #fff;
  border: black solid 2px;
  width: 20%;
}

.game-button:hover {
  transform: scale(1.2);
  background-color: darkblue;
}
.answer-button {
  width: 100%;
}
.card-body {
  text-align: center;
  border: solid 2px;
  border-color: black;
}

.title-category {
  color: white;
  background-color: black;
  height: 100px;
}

.button-category {
  font-size: 3rem;
  color: white;
  background-color: black;
  width: 20%;
}

div.card-group {
  margin: 10px;
}
