body {
  text-align: center;
  font-family: "Roboto";
  background: url("giphy.gif") no-repeat center center fixed;
  background-size: cover;
}
.gif-container {
  background-image: url("giphy.gif") center;

  background-size: cover;

  height: 100%;
}

.hexagons {
  background-image: url("https://image.freepik.com/free-vector/abstract-hexagonal-background_43605-1545.jpg");
  background-size: cover;
}

.readyBanner {
  text-align: center;
}
.player-img {
  width: 100%;
  height: auto;
}
.intro-tag {
  font-size: 1rem;
  font-weight: bold;
}

#about {
  background-image: url("https://image.freepik.com/free-vector/");
  background-size: cover;
}
.buttons-container {
  margin-top: 5%;
}

.insertPlayerName {
  margin: 0.5rem;
}
