@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");
@import url("https://fonts.googleapis.com/css2?family=OpenSans&display=swap");

.game-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid 0.5rem;
  border-color: black;
  height: 14.5rem;
  background-color: black;
  font-family: "Open Sans";
  width: 90%;
}
.wrapper {
  margin: 0 auto;
  padding-top: 1rem;
}

.button-category {
  font-size: 3rem;
  color: white;

  width: 25%;
}

.game-button {
  padding: 0.3rem;
  margin: 0.2rem;
  color: #fff;

  width: 21%;
}

.game-button:hover {
  transform: scale(1.2);
  background-color: darkblue;
}

.card-body {
  text-align: center;
  border: solid 2px;
  border-color: black;
}

.title-category {
  color: white;
  background-color: black;
  height: 100px;
}

.button-category {
  font-size: 3rem;
  color: white;
  background-color: black;
  width: 20%;
}

div.card-group {
  margin: 10px;
}

.game-over {
  text-transform: capitalize;
  font-family: "Monofett";
}
