/**
 * Components: Game
 */
.wrapper {
  text-align: center;
  margin: 0 auto;
  padding-top: 1rem;
  .game-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid 0.5rem;
    height: 15rem;
    background-color: #292f36;
    font-family: "Roboto";
  }
  .button-category {
    margin: 0.2rem;
  }
  .game-button {
    margin: 0.2rem;
  }
}
