.buttons-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  max-width: 100%;
}
.link-btn {
  font-size: 2rem;
  color: #fcfff7;
  border-radius: 0.5rem;
  padding: 0.2rem;
  margin: 0.3rem;
  text-decoration: underline;
}
.link-btn:hover {
  background-color: rgb(160, 160, 255);
  color: #292f36;
}
