.buttons-container {
  display: inline-block;
  max-width: 100%;
}
.btn {
  color: white;
  border-radius: 2rem;
  padding: 0.2rem;
  margin: 0.2rem;
}
.btn:hover {
  transform: scale(1.2);
  background-color: rgb(141, 141, 231);
}
