.buttons-container {
  display: inline;
  max-width: 100%;
}
.link-btn {
  color: white;
  border-radius: 2rem;
  padding: 0.2rem;
  text-decoration: underline;
}
.link-btn:hover {
  background-color: rgb(141, 141, 231);
  color: black;
}
