/**
 * Global
 */
body {
  max-width: 50em;
  height: 40em;
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;

  background-image: url("giphy.gif");
  background-position: center top 12%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: blue;

  @media #{$tablet} {
    background-position: center;
  }
}
